<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>Boxplot</title>
        
    </head>
    <body>
        <center><h1>BOXPLOT</h1></center>
        <img src="static/box.png"alt = 'boxplot'><br><br>
        <CENTER><div><h3><a href ="/home">Go Home</a> or <a href = "/graphs">Go back</a></h3></div>
        <div><h3><a href="/logout"> Logout </a></h3></div></CENTER>
        
        
   

    </body>
</html>