<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>Graphs</title>
        <style href="style.css" rel="stylesheet"></style>
        
    </head>
    <body>
        <br><br><br><br><br><br><br><br><br><br>
        <center>
    
        <section class="container">
            <table>
          
                <tr>
                    <th><h2>Graphs to view</h2></th>
                    <th><h2>Description</h2></th>
                </tr>
            
           
                <tr>
                    <td>
                        <h3><a href="/hist">Histograms </a></h3>
                    </td>
                    <td>
                        <h3>
                            summarizes the discrete or continuous data on an interval scale.

                        </h3>
                    </td>

                </tr>
                <tr>
                    <td>
                        <h3><a href="/heat">Heatmap</a></h3>
                    </td>
                    <td>
                        <h3>
                            shows covariance among all the variables.

                        </h3>
                    </td>
                    
                </tr>
                <tr>
                    <td>
                        <h3> <a href="/scatter">Comparision graphs</a></h3>
                    </td>
                    <td>
                        <h3>
                            identifies relationship between changes observed in each parameter respective to stress level

                        </h3>
                    </td>
                
                    
                </tr>
                <tr>
                    <td>
                        <h3><a href="/box">Boxplot </a></h3>
                    </td>
                    <td>
                        <h3>
                            shows distributions of numeric data values.

                        </h3>
                    </td>
                
                    
                </tr>
            </tr>
            <tr>
                <td>
                    <h3><a href="/map">Other metrics</a></h3>
                </td>
                <td>
                    <h3>
                        like precision, recall and f1-score

                    </h3>
                </td>
            
                
            </tr>
    
            
        </table>
        
        
        <br><br><br>
        <br><br><br>
        <br><br><br>
        <a href="/home">Go Home</a> or go to <a href="/charts">charts</a> <br>
        <a href="/logout">Logout</a>
    </section>
</center>
       
        
   

    </body>
</html>