<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>Login</title>
        <style>
            body {
              background-image: url('static/img4.jpg');
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;
            }
            </style>
    </head>
    <body>
        
        <center>
            <br><br>
            <div><p style="color:whitesmoke;border-color: crimson;border-radius: 1%; font-stretch: solid;font-size:50px"><u><b>HUMAN STRESS LEVEL PREDICTION</b></u> </p></div>
            <div><p style="color:whitesmoke;border-color: crimson;border-radius: 1%; font-stretch: solid;font-size:50px"><u><b>BASED ON SLEEPING HABITS</b></u> </p></div><br><br><br><br><br><br><br><br><br><br><br><br>
            <form action="/login" method="post">
                <input autocomplete="off" autofocus name="name" placeholder="User id" type="text" style="width:400px;height:50px;font-size:large">
        
                <input autocomplete="off" autofocus name="password" placeholder="Password" type="password" style="width:350px;height:50px;font-size:larger"><br><br><br>
                <button type="submit" style="width:150px;height:60px;font-size:x-large; font-weight: bold; background-color: crimson;">Log In</button>
                
        </center>
    
    </body>
</html>

    

