<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>Plots</title>
        <link href="style.css" rel="stylesheet"> 
    </head>
    <body>
        <center>
            <h1>Comparision Graphs</h1></center>
            <div><h2>Snoring Rate vs Stress Level</h2>
            <img src="static/sn.png" alt="img"></div><br>
            <div><h2>Respiration Rate vs Stress Level</h2>
            <img src="static/rr.png" alt="img"></div><br>
            <div><h2>Body Temperature vs Stress Level</h2>
            <img src="static/bo.png" alt="img"></div><br>
            <div><h2>Limb Movement vs Stress Level</h2>
            <img src="static/lm.png" alt="img"></div><br>
            <div><h2>Blood Oxygen Levels vs Stress Level</h2>
            <img src="static/bo.png" alt="img"></div><br>
            <div><h2>Eye movement vs Stress Level</h2>
            <img src="static/em.png" alt="img"></div><br>
            <div><h2>Sleeping Hours vs Stress Level</h2>
            <img src="static/sh.png" alt="img"></div><br>
            <div><h2>Heart Rate vs Stress Level</h2>
            <img src="static/hr.png" alt="img"></div><br>
            <div><h2>Eye Movement vs Stress Level</h2>
            <img src="static/em.png" alt="img"></div><br>
    </body>
</html>